{% extends 'base.html.twig' %}

{% block title %}Hello StoryController!{% endblock %}

{% block body %}

<div class="section-top-border" style="padding: 50px;">
    <h3 class=" titre">Left Aligned</h3>
    <div class="row p-4">
        <div class="col-md-3">
           <a href=""> <img src="../images/porte (1).jpeg" alt="" class="img-fluid"></a>
        </div>
        <div class="col-md-9 mt-sm-20 left-align-p">
            <a href=""><p class="text-right p-4 border border-danger">Recently, the US Federal government banned online casinos from operating in America by making it illegal to
                transfer
                money to them through any US bank or payment system. As a result of this law, most of the popular online casino
                networks
                such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves
                being
                chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and
                new
                online casinos started taking root. These began to operate under a different business umbrella, and by doing
                that,
                rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking
                systems
                that would accept this new clarification and start doing business with me. Listed in this article are the
                electronic
                banking systems that accept players from the United States that wish to play in online casinos.</p></a>
        </div>
    </div>

</div>
<div class="section-top-border text-right" style="padding: 50px;">
    <h3 class="titre2 mb-30">Right Aligned</h3>
    <div class="row">
        <div class="col-md-9">
            <a href=""><p class="text-right p-4 border border-warning">Over time, even the most sophisticated, memory packed computer can begin to run slow if we
                don’t
                do something to prevent it. The reason why has less to do with how computers are made and how they age and more
                to
                do with the way we use them. You see, all of the daily tasks that we do on our PC from running programs to
                downloading
                and deleting software can make our computer sluggish. To keep this from happening, you need to understand the
                reasons
                why your PC is getting slower and do something to keep your PC running at its best. You can do this through
                regular
                maintenance and PC performance optimization programs
            Before we discuss all of the things that could be affecting your PC’s performance, let’s
                talk
                a little about what symptoms</p></a>
        </div>

        <div class="col-md-3 ">
            <a href=""><img src="{{ asset('assets/images/Des-fleurs-deposees-devant-le-domicile-de-Sandra-tuee-par-son-ex-conjoint-violent-le-4-juillet-2021-a-Bordeaux-1823875.jpg"') }}   alt="" class="img-fluid"></a>
        </div>
    </div>
</div>
{% endblock %}
