{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <div class="breadcumb-wrapper">
        <div class="container">
            <ul class="breadcumb-menu">
                <li><a href="home-newspaper.html">Home</a></li>
                <li><a href="category.html">Category</a></li>
                <li>Fashion</li>
            </ul>
        </div>
    </div>
    <!--==============================
Team Area  
==============================-->
    <section class="space">
        <div class="container">
            <div class="row gy-30">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_54.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Express yourself, define your unique style.</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>19 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_53.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Style your dreams, fashion is your canvas</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>19 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_52.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Where creativity meets confidence, be iconic</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>18 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_51.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Step into style, let fashion tell your story</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>24 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_50.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Dare to dazzle, redefine your style.</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>17 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_49.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">From classic to edgy fashion defines you.</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>13 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_48.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Step into style, let fashion tell your story</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>14 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_47.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Elevate your elegance, make a statement.</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>26 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_46.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Empower your look, own your individuality.</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>22 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_45.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Embrace your flair, make every day fashionable</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>15 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_44.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Step into the spotlight, shine with fashion flair.</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>20 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_43.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Where creativity meets confidence, stand out.</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>28 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_42.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Your canvas, create an iconic masterpiece.</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>20 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_41.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Elevate your look, embrace fashion allure.</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>13 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_40.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Cute couture, trendy tots children fashion magic.</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>22 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_39.jpg" alt="blog image">
                            <a data-theme-color="#59C2D6" href="blog.html" class="category">Fashion</a>
                        </div>
                        <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Adorable, stylish, and oh so fashionable kids.</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>30 Mar, 2023</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="th-pagination mt-40 mb-0 text-center">
                <ul>
                    <li><a href="blog.html">01</a></li>
                    <li><a href="blog.html">02</a></li>
                    <li><a href="blog.html">03</a></li>
                    <li><a href="blog.html"><i class="fas fa-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
