{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}


<div class="row w-100 ">
         <div class="col-md-9">
            <div class="article">
                  <div id="title"><h2> Grand titre ici</h2></div>
                 <img src="../images/ministère d'intérieur.webp" class="img-fluid mt-4" id="image" alt="">
               <div id="author"><h4> Nom journaliste</h4></div>
                  <div class="d-flex"> 
                             <div> <a class="twitter-share-button p-3"
                                           href="https://twitter.com/intent/tweet?text=Hello%20world"
                                                            data-size="large">
                                            <i class="fa-brands fa-x-twitter"></i></a>
                              </div>
                              <div class="fb-share-button" data-href="https://www.facebook.com/mariam.seifeddine" data-layout="" data-size=""><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fmariam.seifeddine&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fa-brands fa-facebook"></i></a>
                              </div>
                  </div>
                  <div id="content"> <p>  Footer is an important part of any website and serves as additional navigation. Footer is especially crucial in huge portals with complex navigation and hundreds of links and pages.

                      Official bootstrap documentation does not contain a Footer component, so we have prepared an impressive collection of free beautiful footer templates with exceptional design. All of them are responsive and compatible with the newest Bootstrap 5.
    
                       If you want to learn more about the construction of the Footer and get to know the basic and advanced usage of this component - read the Footer Docs. 
                    Footer is an important part of any website and serves as additional navigation. Footer is especially crucial in huge portals with complex navigation and hundreds of links and pages. Official bootstrap documentation does not contain a Footer component, so we have prepared an impressive collection of free beautiful footer templates with exceptional design. All of them are responsive and compatible with the newest Bootstrap 5. If you want to learn more about the construction of the Footer and get to know the basic and advanced usage of this component - read the Footer Docs. <br>
                    Footer is an important part of any website and serves as additional navigation. Footer is especially crucial in huge portals with complex navigation and hundreds of links and pages. Official bootstrap documentation does not contain a Footer component, so we have prepared an impressive collection of free beautiful footer templates with exceptional design. All of them are responsive and compatible with the newest Bootstrap 5. If you want to learn more about the construction of the Footer and get to know the basic and advanced usage of this component - read the Footer Docs. <br>
                    Footer is an important part of any website and serves as additional navigation. Footer is especially crucial in huge portals with complex navigation and hundreds of links and pages. Official bootstrap documentation does not contain a Footer component, so we have prepared an impressive collection of free beautiful footer templates with exceptional design. All of them are responsive and compatible with the newest Bootstrap 5. If you want to learn more about the construction of the Footer and get to know the basic and advanced usage of this component - read the Footer Docs. <br>
                     Footer is an important part of any website and serves as additional navigation. Footer is especially crucial in huge portals with complex navigation and hundreds of links and pages. Official bootstrap documentation does not contain a Footer component, so we have prepared an impressive collection of free beautiful footer templates with exceptional design. All of them are responsive and compatible with the newest Bootstrap 5. If you want to learn more about the construction of the Footer and get to know the basic and advanced usage of this component - read the Footer Docs.
                    </p>
                  </div>
             </div>
          </div>

          <div class="side col-md-3 mt-4">
            <div class="col">
              <div class="p-3 d-flex"> <iframe width="150" height="100" src="https://www.youtube.com/embed/vQChW_jgMMM" title="AI Deception: How Tech Companies Are Fooling Us" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              <div class="p-3"><h6>Tiktok indique désormais les contenus générés par IA</h6></div>
              </div>
              <div class="p-3 d-flex"> <iframe width="150" height="100" src="https://www.youtube.com/embed/vQChW_jgMMM" title="AI Deception: How Tech Companies Are Fooling Us" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="p-3"><h6>Tiktok indique désormais les contenus générés par IA</h6></div>
                </div>
                <div class="p-3 d-flex ml-1"> <iframe width="150" height="100" src="https://www.youtube.com/embed/vQChW_jgMMM" title="AI Deception: How Tech Companies Are Fooling Us" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  <div class="p-3"><h6>Tiktok indique désormais les contenus générés par IA</h6></div>
                  </div>
                  <div class="p-3 d-flex"> <iframe width="150" height="100" src="https://www.youtube.com/embed/vQChW_jgMMM" title="AI Deception: How Tech Companies Are Fooling Us" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="p-3"><h6>Tiktok indique désormais les contenus générés par IA</h6></div>
                    </div>
                </div>
          </div>  
          </div>
</div>



<div class="mt-4">
  <h2 >Read More</h2>
 
</div>

<div class="more">
 <div class="d-flex">
   <div class="p-3"><img src="../images/refuge.jpeg" alt=""></a>
    <a href=""><p class="text-center p-3">If you want to learn more about the construction of the Footer and get to know the basic and advanced usage of this component - read the Footer Docs. 
    Footer is an important part of any website and serves as additional navigation. </p></a>
  </div>
   <div class="p-3"><img src="../images/codete.jpg" alt=""> <a href=""><p class="text-center p-3">If you want to learn more about the construction of the Footer and get to know the basic and advanced usage of this component - read the Footer Docs. 
    Footer is an important part of any website and serves as additional navigation.</p></a>
  </div>
    <div class="p-3"><img src="../images/panot.jpg" alt=""> <a href=""><p class="text-center p-3">If you want to learn more about the construction of the Footer and get to know the basic and advanced usage of this component - read the Footer Docs. 
     Footer is an important part of any website and serves as additional navigation.</p></a>
    </div>
    </div>

  </div>
     <!-- Tags Start -->
     <div class="tags pb-3">
      <div class="bg-light py-2 px-4 mb-3">
          <h3 class="m-0">Tags</h3>
      </div>
      <div class="d-flex flex-wrap m-n1">
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Politics</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Corporate</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Sports</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Health</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Education</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Science</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Technology</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Entertainment</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Travel</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Lifestyle</a>
      </div>
  </div>
  <!-- Tags End -->
{% endblock %}
